{% extends "base.html" %}
{% load static %}

{% block content %}

  <header>
    <nav class="navbar navbar-light navbar-expand bg-warning">
      <div style="width: 1370px" class="container-fluid top-bars">
        <a class="navbar-brand logo-text" href="#">E-Orientation</a
        >
        <button
                data-toggle="collapse"
                class="navbar-toggler"
                data-target="#navcol-1"
        >
            <span class="sr-only">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="btn sign-in-btn bg-dark" type="button" href="{% url "participants:parent_register" %}">Inscription
                Parent</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="btn sign-in-btn bg-dark" type="button" href="{% url "participants:student_register" %}">Inscription
                Etudiant</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {#      <div#}
    {#        style="#}
    {#          height: 50px;#}
    {#          width: 100%;#}
    {#          background-color: white;#}
    {#          position: relative;#}
    {#          z-index: 900;#}
    {#        "#}
    {#        class="nav"#}
    {#      >#}
    {#        <input type="checkbox" id="nav-check" />#}
    {#        <div class="nav-header"></div>#}
    {#        <div class="nav-btn">#}
    {#          <label for="nav-check">#}
    {#            <span#}
    {#              style="background-color: orange; height: 5px; margin-bottom: 3px"#}
    {#            ></span>#}
    {#            <span#}
    {#              style="background-color: orange; height: 5px; margin-bottom: 3px"#}
    {#            ></span>#}
    {#            <span#}
    {#              style="background-color: orange; height: 5px; margin-bottom: 3px"#}
    {#            ></span>#}
    {#          </label>#}
    {#        </div>#}
    {##}
    {#        <div#}
    {#          style="width: 1370px; margin: auto"#}
    {#          class="nav-links top-bars mx-auto"#}
    {#        >#}
    {#          <a class="nav-link menu-nav" href="#">HOME</a>#}
    {#          <a class="nav-link menu-nav" href="#">LIST OF SCHOOLS</a>#}
    {#          <a class="nav-link menu-nav" href="#">WHY EXHIBIT</a>#}
    {#          <a class="nav-link menu-nav" href="#">MEDIA LIBRARY</a>#}
    {#          <a class="nav-link menu-nav" href="#">THE ORIENTATION STAND</a>#}
    {#          <a class="nav-link menu-nav" href="#">PRACTICAL INFORMATION</a>#}
    {#          <a class="nav-link menu-nav" href="#">CONTACT</a>#}
    {#        </div>#}
    {#      </div>#}
  </header>
  <section style="background-image: url({% static 'images/slide01.png' %});">
    <div class="container-fluid">
      <div class="row">
        <div
                class="col-lg-5 slider-text-area pl-0"
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-once="true"
        >
          <div class="row py-5 px-5">
            <div class="col py-5">
              <h1
                      class="fromtwo"
                      data-aos="fade-right"
                      data-aos-duration="700"
                      data-aos-delay="400"
                      style="font-weight: bold"
              >
                Du 25 Septembre<br>au 04 Novembre
              </h1>
            </div>
          </div>
          <div class="row py-5 px-5">
            <div style="text-align: center" class="col welcome-box">
              <h1
                      class="text-uppercase text-warning"
                      data-aos="fade-up"
                      data-aos-duration="700"
                      data-aos-delay="600"
                      data-aos-once="true"
                      style="font-weight: bold; font-size: 54px"
              >
                Soyez les bienvenues
              </h1>
              <h4
                      style="margin-top: -30px"
                      data-aos="fade-up"
                      data-aos-duration="700"
                      data-aos-delay="850"
                      data-aos-once="true"
              >
                au salon Virtuel international d’orientation
              </h4>
              <p
                      data-aos="fade-up"
                      data-aos-duration="800"
                      data-aos-delay="1000"
                      data-aos-once="true"
                      class="mt-5"
              >
                Ce salon vous permettra de répondre à certaines questions fondamentales qui vous tourmentent : quelle
                filière dois-je choisir, dans quelle école m’inscrire, que puis-je faire selon ma série, comment faire
                le
                bon choix pour échapper au chômage demain. Avec une série de conférences animée par des personnes
                ressources, la présentation de plusieurs écoles du Bénin et d’ailleurs et des opportunités de
                bourses.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </section>
  <section class="two-sect" style="padding-top: 120px; padding-bottom: 120px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-6" style="padding: 90px">
          <div
                  data-aos="fade-right"
                  data-aos-duration="700"
                  data-aos-once="true"
                  class="py-5"
          >
            <div class="row">
              <div class="col-lg-4 text-center align-self-center">
                <img
                        class="img-fluid"
                        src="{% static "images/Icon-awesome-school.svg" %}"
                />
              </div>
              <div class="col-lg-8">
                <h4 class="scho">Ecoles</h4>
                <p>
                  A la découverte des écoles. Tout savoir sur les écoles et s’inscrire dans l’école de son choix.
                </p>
                <button class="btn more-info-btn discover-b" type="button">
                  Découvrir les écoles
                </button>
              </div>
            </div>
          </div>
          <div
                  data-aos="fade-right"
                  data-aos-duration="700"
                  data-aos-delay="200"
                  data-aos-once="true"
          >
            <div class="row">
              <div class="col-lg-4 text-center align-self-center">
                <img
                        class="img-fluid"
                        src="{% static "images/Icon-map-city-hall.svg" %}"
                />
              </div>
              <div class="col-lg-8">
                <h4 class="scho">Conférence en directe</h4>
                <p>
                  Une série de conférences d’orientation animée par des personnes ressources. Conférences soyeusement
                  préparées pour être animée en ligne.
                </p>
                <button class="btn more-info-btn discover-b" type="button">
                  Conférences Live
                </button>
              </div>
            </div>
          </div>
          <div
                  data-aos="fade-right"
                  data-aos-duration="700"
                  data-aos-delay="400"
                  data-aos-once="true"
                  class="py-5"
          >
            <div class="row">
              <div class="col-lg-4 text-center align-self-center">
                <img
                        class="img-fluid"
                        src="{% static "images/Icon-awesome-archive.svg" %}"
                />
              </div>
              <div class="col-lg-8">
                <h4 class="scho">Archives</h4>
                <p>
                  Resuivre les conférences de son choix en cas d’indisponibilité. Participez au salon à votre
                  rythme.
                </p>
                <button class="btn more-info-btn discover-b" type="button">
                  Archives
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-xl-6 text-center align-self-center">
          <img
                  class="img-fluid"
                  data-aos="zoom-in"
                  data-aos-duration="950"
                  data-aos-once="true"
                  src="{% static "images/Group-39.svg" %}"
          />
        </div>
      </div>
    </div>
  </section>
  <section style="background-color: #f8f8f8">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-xl-6 text-center" style="padding: 130px">
          <img
                  class="img-fluid w-75"
                  data-aos="zoom-in"
                  data-aos-duration="700"
                  data-aos-once="true"
                  src="{% static "images/Group-29.svg" %}"
          />
          <div class="mt-5">
            <div class="row">
              <div class="col">
                <div
                        data-aos="fade-down"
                        data-aos-duration="700"
                        data-aos-delay="250"
                >
                  <img
                          class="img-fluid"
                          src="{% static "images/Icon-ionic-ios-people.svg" %}"
                          style="min-height: 65px; max-height: 65px"
                  />
                  <h4
                          class="mb-0 py-1 my-3"
                          style="
                        background-color: #383b4a;
                        color: rgb(255, 255, 255);
                      "
                  >
                    10,000
                  </h4>
                  <h6>Participants</h6>
                </div>
              </div>
              <div
                      class="col"
                      data-aos="fade-down"
                      data-aos-duration="700"
                      data-aos-delay="500"
                      data-aos-once="true"
              >
                <div>
                  <img
                          class="img-fluid"
                          src="{% static "images/Icon-awesome-building.svg" %}"
                          style="min-height: 65px; max-height: 65px"
                  />
                  <h4
                          class="mb-0 py-1 my-3"
                          style="
                        background-color: #383b4a;
                        color: rgb(255, 255, 255);
                      "
                  >
                    60
                  </h4>
                  <h6>Universités</h6>
                </div>
              </div>
              <div
                      class="col"
                      data-aos="fade-down"
                      data-aos-duration="700"
                      data-aos-delay="750"
              >
                <div>
                  <img
                          class="img-fluid"
                          src="{% static "images/Icon-material-live-tv.svg" %}"
                          style="min-height: 65px; max-height: 65px"
                  />
                  <h4
                          class="mb-0 py-1 my-3"
                          style="
                        background-color: #383b4a;
                        color: rgb(255, 255, 255);
                      "
                  >
                    82
                  </h4>
                  <h6>Conférences Vidéo</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="background: #ffc107" class="col text-center">
          <img
                  class="img-fluid w-75"
                  data-aos="zoom-in"
                  data-aos-duration="700"
                  data-aos-delay="1300"
                  data-aos-once="true"
                  src="{% static "images/Group-40.svg" %}"
                  style="z-index: 1; padding-top: 120px; padding-bottom: 120px"
          />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div
              class="row"
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-once="true"
      >
        <div
                class="col-md-12 text-center"
                style="padding-top: 100px; padding-bottom: 40px"
        >
          <h3 class="text-uppercase">Partenaires Potentielles</h3>
          <div class="carousel-wrap">
            <div class="owl-carousel">
              <div class="item">
                <img src="{% static "images/partners/LogoMTN.png" %}"/>
              </div>
              <div class="item">
                <img src="{% static "images/partners/Logotype_Moov.png" %}"/>
              </div>
              <div class="item">
                <img
                        src="{% static "images/partners/toby.PNG" %}"
                />
              </div>
              <div class="item"><img src="{% static "images/partners/slide2.jpg" %}"/></div>
              <div class="item">
                <img src="{% static "images/partners/slide3.jpeg" %}"/>
              </div>
              <div class="item">
                <img src="{% static "images/partners/slide4.jpg" %}"/>
              </div>
              <div class="item">
                <img src="{% static "images/partners/SClogo.PNG" %}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <h3 class="text-uppercase">Ecoles Potentiels</h3>
          <div>
            <div class="carousel-wrap">
              <div class="owl-carousel" id="varousel">
                <div class="item">
                  <img src="{% static "images/schools/sc1.jpeg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc2.jpeg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc3.jpg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc4.jpg" %}"/>
                </div>

                <div class="item">
                  <img src="{% static "images/schools/sc5.jpg" %}"/>
                </div>
                <div class="item">
                  <img
                          src="{% static "images/schools/sc6.jpg" %}"
                  />
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc7.jpg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc8.jpg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc9.jpg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc10.jpg" %}"/>
                </div>
                <div class="item">
                  <img
                          src="{% static "images/schools/sc11.png" %}"
                  />
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc12.png" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc13.jpeg" %}"/>
                </div>
                <div class="item">
                  <img src="{% static "images/schools/sc14.jpg" %}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer style="background-color: #45C7D4;">
    <div class="container">
      <div class="row" style="padding-top: 70px;padding-bottom: 70px;">
        <div class="col"><a class="navbar-brand logo-text" href="#" style="font-size: 40px;">E-Orientation</a>
          <ul class="list-unstyled text-white footer-contact-list">
            <li><i class="fa fa-envelope mr-2"></i>contact@eorientation.bj</li>
            <li><i class="fa fa-phone mr-2"></i>+229 62178364</li>
            <li><i class="fa fa-map-pin mr-2"></i>Copyright E-DEV Technologies</li>
          </ul>
          <ul class="list-inline text-white mb-0">
            <li class="list-inline-item"><i class="fa fa-facebook"></i></li>
            <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
            <li class="list-inline-item"><i class="fa fa-instagram"></i></li>
            <li class="list-inline-item"><i class="fa fa-linkedin"></i></li>
          </ul>
        </div>
        <div class="col-xl-3 align-self-center">
          <h4 class="text-white">Informations</h4>
          <h6 class="text-white">Acceuil</h6>
          <h6 class="text-white">Liste des écoles</h6>
          <h6 class="text-white">Pourquoi exposer</h6>
          <h6 class="text-white">Informations pratiques</h6>
          <h6 class="text-white mb-0">Support d'orientation<br></h6>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
