{% extends "base.html" %}

{% block content %}

  <main class="mx-auto mt-5" style="width: 600px;">
    <div class="card">
      <div class="card-body">
        <p class="text-big-center">
          Salon de presentation de .........
        </p>
        <div class="powr-countdown-timer" id="909fee1c_1597416335"></div>
        <script src="https://www.powr.io/powr.js?platform=bootstrap#"></script>
      </div>
      <div class="form-group mx-auto">
        <a class="btn btn-primary" href="{% url "participants:student_register" %}">S'inscrire en tant qu'étudiant</a>
        <a class="btn btn-primary" href="{% url "participants:parent_register" %}">S'inscrire en tant que Parents</a>
      </div>
    </div>
  </main>
{% endblock %}
