{% extends "base.html" %}
{% load static crispy_forms_tags %}


{% block content %}
  <header>
    <nav class="navbar navbar-expand-md navbar-light  bg-warning">
      <div class="container-fluid top-bars"><a class="navbar-brand logo-text"
                                               href="{% url "participants:home" %}">E-Orientation</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="btn sign-in-btn bg-dark" type="button" href="{% url "participants:parent_register" %}">Inscription
                Parent</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="btn sign-in-btn bg-dark" type="button" href="{% url "participants:student_register" %}">Inscription
                Etudiant</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="mx-auto bg">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card mt-5 mb-5">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="form-group">
                <button type="submit" class="btn btn-primary">S'inscire</button>
                <a class="btn btn-secondary" href="{% url "participants:home" %}">Retour</a>
              </div>
            </form>
            <hr>
            <b>Contact:</b> contact@eorientation.bj | 62178364 <br>
            <p>Veuillez svp nous contacter pour tout problème sur ce site.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer style="background-color: #45C7D4;">
    <div class="container">
      <div class="row" style="padding-top: 70px;padding-bottom: 70px;">
        <div class="col"><a class="navbar-brand logo-text" href="#" style="font-size: 40px;">E-Orientation</a>
          <ul class="list-unstyled text-white footer-contact-list">
            <li><i class="fa fa-envelope mr-2"></i>contact@eorientation.bj</li>
            <li><i class="fa fa-phone mr-2"></i>+229 62178364</li>
            <li><i class="fa fa-map-pin mr-2"></i>Copyright E-DEV Technologies</li>
          </ul>
          <ul class="list-inline text-white mb-0">
            <li class="list-inline-item"><i class="fa fa-facebook"></i></li>
            <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
            <li class="list-inline-item"><i class="fa fa-instagram"></i></li>
            <li class="list-inline-item"><i class="fa fa-linkedin"></i></li>
          </ul>
        </div>
        <div class="col-xl-3 align-self-center">
          <h4 class="text-white">Informations</h4>
          <h6 class="text-white">Acceuil</h6>
          <h6 class="text-white">Liste des écoles</h6>
          <h6 class="text-white">Pourquoi exposer</h6>
          <h6 class="text-white">Informations pratiques</h6>
          <h6 class="text-white mb-0">Support d'orientation<br></h6>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
