{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <main class="mx-auto mt-5" style="width: 600px;">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">S'inscire</button>
            <a class="btn btn-secondary" href="{% url "participants:home" %}">Retour</a>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
