.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.asteriskField {
  display: none;
}

body {
  font-family: 'Roboto';
}

.navbar-brand.logo-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.navbar-brand.logo-text:hover {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  color: white;
}


.sign-in-btn {
  background: white;
  color: #ffc107;
  border: 1px solid white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
}

.sign-in-btn:hover {
  color: white;
}

.more-info-btn {
  background: rgb(69, 199, 212);
  color: #ffffff;
  border: 1px solid white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
}

.login-btn {
  background: transparent;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
}

.menu-nav {
  font-size: 16px;
  font-weight: 500;

  color: orange !important;
}

.menu-nav:hover {
  color: white !important;
}

.menu-nav {
  margin-right: 50px;
}

.menu-nav li:last-child {
  margin-right: 0px;
}

@media (max-width: 768px) {
  #navbar-menuitem {
    display: noe;
  }
}

.slider-text-area {
  position: relative;
}

.slider-text-area::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.89);
  position: absolute;
}

.bg-yello {
  position: relative;
}

.bg-yello::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #ffc107;
  position: absolute;
}

.footer-contact-list li {
  line-height: 2;
}


.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (max-width: 1380px) {
  .top-bars {
    width: 100% !important;
  }
}


.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
  color: orange;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

@media (max-width: 700px) {
  .welcome-box {
    margin-top: -100px;
  }

  .scho {
    text-align: center !important;
    margin-top: 14px;
  }

  .discover-b {
    margin: auto;
    width: 100%;
  }

  .two-sect {
    margin-top: -120px !important;
  }

  .fromtwo {
    text-align: center !important;
  }
}

@media (min-width: 700px) {
  .fromtwo {
    margin-left: 100px;
  }
}

